.sidebar {
    background-color: black;
    color: white;
    height: 100vh;
    grid-area: sidebar;
    position: fixed;
    width: 230px;
}

.sidebar__nav-item {
    display: flex;
    cursor: pointer;
    height: 40px;
    align-items: center;
    cursor: pointer;
    color: rgba(255,255,255,0.6);
    text-decoration: none;
    width: 100%;
    margin-bottom: 10px;
}

.sidebar__nav-item-icon {
    width: 30px;
    height: 30px;
}

.sidebar__nav-item-text {
    text-decoration: none;
    color: currentColor;
    transition: color 0.4s ease; 
}

.sidebar__nav-item:hover .sidebar__nav-item-text {
    color: rgba(255, 255, 255, 1);
}

.sidebar__svg-home, .sidebar__svg-search, .sidebar__svg-library {
    width: 100%;
    stroke: currentColor;
    fill: transparent;
    stroke-width: 6;
    transition: stroke 0.4s ease;
}

.sidebar__nav-item:hover .sidebar__svg-home, 
.sidebar__nav-item:hover .sidebar__svg-library, 
.sidebar__nav-item:hover .sidebar__svg-search {
    stroke: rgba(255,255,255,1);
}

.sidebar__svg-container {
    height: 24px;
    width: 24px;
    position: relative;
    bottom: 1px;
    margin-left: 24px;
    margin-right: 12px;
}

.sidebar__logo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: relative;
    top: 5px;
    left: 3px;
}

.sidebar__nav-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 10px;
}

.sidebar__mystify {
    margin: 0;
    color: white;
    font-size: 30px;
    position: relative;
    right: 3px;
}
