.splash {
    display: grid;
    grid-template-rows: 1fr 100px 50px 100px 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    "    .        "
    "  title      "
    "  subtitle   "
    "  button     "
    "     .       "
}

.splash__title {
    grid-area: title;
    font-size: 80px;
    line-height: 88px;
    letter-spacing: -2px;
    margin: 0;
}

.splash__subtitle {
    grid-area: subtitle;
    font-size: 18px;
    line-height: 24px;
}

.splash__button {
    grid-area: button;
    font-size: 14px;
    padding: 14px 40px;
    width: 252px;
    background-color: #1db954;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    font-family: 'Rubik', Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.2s ease-in-out;
    color: white;
}

.splash__button:hover {
    background-color: #1ed760;
}

.splash__button:focus, .splash__button:active {
    outline: 0;
    border: 0;
}