body, h6, h1, h3 {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', Helvetica, Arial, sans-serif;
    color: white;
}

button:focus, button:active, input:focus, input:active {
    outline: none;
}
/* ^^ We include this first so @imports do not break webpack, specifically on --watch */

@import url('./components/LandingPage/index.css');
@import url('./components/Home/index.css');
@import url('./components/Home/header/index.css');
@import url('./components/Home/albums/index.css');
@import url('./components/Home/tracks/index.css');

@import url('./components/Album/index.css');

@import url('./components/Artist/index.css');

@import url('./components/Library/index.css');

@import url('./components/Search/index.css');
@import url('./components/Search/header/index.css');
@import url('./components/Search/artists/index.css');
@import url('./components/Search/albums/index.css');
@import url('./components/Search/tracks/index.css');

@import url('./components/Shared/artist/index.css');
@import url('./components/Shared/sidebar/index.css');
@import url('./components/Shared/track/index.css');
@import url('./components/Shared/homeTrack/index.css');
@import url('./components/Shared/audioPlayerFooter/index.css');