    .search__nav-item {
      transition: color 0.2s ease;
      color: rgba(255,255,255,0.6);
      text-decoration: none;
      height: 20px;
      margin-right: 40px;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 2px;
      display: inline-block;
      position: relative;
    }

    .search__nav-item--active::after {
        content: "";
        height: 2px;
        background-color: #1db954;
        width: 30px;
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-left: -15px;
    }


    .search__nav-item--active,  .search__nav-item:hover {
      color: rgba(255,255,255);
    }
