.sidebar__nav-item {
    display: flex;
    cursor: pointer;
    height: 40px;
    align-items: center;
    cursor: pointer;
}

.sidebar__nav-item-text--active {
    color: rgba(255, 255, 255, 1);
}

.sidebar__nav-item-icon {
    width: 30px;
    height: 30px;
}

.sidebar__nav-item-text {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.4s ease; 
    margin-left: 15px;
}

.sidebar__nav-item:hover .sidebar__nav-item-text {
    color: rgba(255, 255, 255, 1);
}

.sidebar__svg-home, .sidebar__svg-search, .sidebar__svg-library {
    width: 100%;
    stroke: rgba(255,255,255,0.6);
    fill: transparent;
    stroke-width: 6;
    transition: stroke 0.4s ease;
}

.sidebar__nav-item:hover .sidebar__svg-home, 
.sidebar__nav-item:hover .sidebar__svg-library, 
.sidebar__nav-item:hover .sidebar__svg-search {
    stroke: rgba(255,255,255,1);
}

.sidebar__svg-container {
    height: 24px;
    width: 24px;
    position: relative;
    bottom: 2px;
    margin-left: 24px;
}