.home {
    display: grid;
    grid-template-columns: 230px 75px 1fr 75px;
    grid-template-rows: 100px 1fr; 
    width: 100vw;
    grid-template-areas:
    " sidebar  header  header  header  "
    " sidebar    .    artists    .     ";
    background-image: linear-gradient(#3c3e5d, #060609 85%);
}

.home__header {
    grid-area: header;
    justify-self: center;
    align-self: center;
}

.home__artists {
    grid-area: artists;
    height: calc(100vh - 50px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(210px, 1fr));
}

