.header {
    display: grid;
    grid-template-columns: 1fr 60px 10fr 100px 50px repeat(2, 100px) 1fr;
    grid-template-areas: 
    " ";
    justify-items: right;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.header h6 {
    font-size: 16px;
}

.header__nav-item {
    width: 60px;
}

.header__pipe {
    border-right: 1px solid white;
    width: 1px;
    height: 20%;
}