.header {
    display: grid;
    grid-template-columns: 1fr 60px 10fr 100px 20px repeat(2, 100px) 1fr;
    grid-template-areas: 
    " ";
    justify-items: right;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.header h6 {
    font-size: 16px;
    cursor: pointer;
}

.header__nav-item {
    width: 70px;
    cursor: pointer;
}

.header__pipe {
    border-right: 1px solid white;
    width: 1px;
    height: 20%;
}

.header h6:hover, .header__nav-item:hover {
    color: #1db954;
}